# Compiler files
cache/
out/

# Broadcast/run artifacts
broadcast/

# Keep local deployment ephemeral; track live deployments
deployments/local.json

# Dotenv file
.env
!.example-local.env
!.example-sepolia.env
!.example-sepolia-mocked-aztec.env
!.example-mainnet.env
